body, p, h1, h2, textarea{
    margin: 0;
    font-family: Roboto;
}

h2{
    font-size: 30px;
}

#navbar{
    background-color: #ED1E24;
    color: #FFF;
    padding: 0 15px;
    height: 60px;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav{
    display: inline-block;
}

#navbar h2{
    margin: 0px;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img{
    height: 40px;
    transform: rotate(45deg);
    top: 5px;
    position: absolute;
}

#navbar ul{
    margin-top:  22px;  
}

#navbar nav{
    float: right;  
}

#navbar li{
    margin: 0 10px;
}

#navbar-list li a {
    text-decoration: none;
    color: white;
}

#navbar-list li a:hover{
    border-bottom: 1px solid #FFF;

}