body, p, h1, h2, textarea{
    margin: 0;
    font-family: Roboto;
}

h2{
    font-size: 30px;
}

#navbar{
    background-color:#1B7ABD;
    color: #FFF;
    padding: 0 15px;
    height: 60px;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav{
    display: inline-block;
}

#navbar h2{
    margin: 0px;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img{
    height: 40px;
    transform: rotate(45deg);
    top: 5px;
    position: absolute;
}

#navbar ul{
    margin-top:  22px;  
}

#navbar nav{
    float: right;  
}

#navbar li{
    margin: 0 10px;
}

#navbar-list li a {
    text-decoration: none;
    color: white;
}

#navbar-list li a:hover{
    border-bottom: 1px solid #FFF;

}

/*Banner*/
#main-banner {
    height: 79vh;
    background-image: url('../img/backgroundEdit.png');
    background-position: left;
    background-size: cover;
    padding-top: 15vh;
}

#banner-info {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    padding: 50px;
}

#banner-info img {
    border-radius: 50%;
    background-color: #1B7ABD;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#banner-info p{
    background-color: #1B7ABD;
    font-weight: bold;
    width: 200px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;

}
/* Fim Banner*/

/* Sobre */
#about-section {
    text-align: center;
    background-color: #1B7ABD;
    color: white;
    padding-top: 50px;
    height: 350px;    
}

#about-section h2 {
    margin-bottom: 20px;
}

#about-section p {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 25px;
}

#autor {
    font-style: italic;
    font-size: small;
    line-height: 0px;
}
/*Fim Sobre */

/* Skills */
#skills-section {
    margin-top: -100px;
    background-color: white;
    width: 80%;
    border: 1px solid #DDD;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: row;   
    justify-content: center;
}

@media only screen and (max-width: 812px) {
    .container{
        flex-direction: column;
    }
    
}

.skills-container {
    flex: 1;
    text-align: center;
    padding: 60px 25px;
}

.borda {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

@media only screen and (max-width: 812px) {
    .borda{
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        border-left: none;
        border-right: none;
    }
}

.skills-container h3 {
    color: #1B7ABD;
    font-size: 20px; 
}

.skills-container img {
    height: 60px;
    padding: 15px;
    border: 1px solid #1B7ABD;
    box-shadow: 5px 6px #1B7ABD;
    margin-bottom: 25px;    
}

.subtitle {
    color: #1B7ABD;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 50px;
}

.skills-container a {
    text-decoration: none;
    color: black;    
}

.skills-container a:hover {
    border-bottom: 1px solid #1B7ABD;

}

/* Trabalhos */
#jobs-section {
   text-align: center; 
   margin-top: 50px;
}

#jobs-section h2 {
    margin-bottom: 30px;
    color: #1B7ABD;
}

#jobs-section a {
    color: #1B7ABD;
    font-weight: bold;    
}

#jobs-section p {
    margin-bottom: 50px;
}

.proj1 {
    background-image: url('../img/proj1.jpg');
}

.proj2 {
    background-image: url('../img/proj2.jpg');
}

.proj3 {
    background-image: url('../img/proj3.jpg');
}

.job-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: space-around;
    margin-right: auto;
    max-width: 1200px;
    margin-bottom: 50px;
}

.job-box {    
    background-size: cover;
    height: 300px;
    flex: 1 1 200px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 5px 6px #1B7ABD;
    object-fit: cover
}

/* Rodapé - Footer */

footer {
    background-color: #1B7ABD;
    text-align: center;
    padding: 50px 0px;
    color: white;
}

footer img {
    height: 70px;
    margin: 30px 0px;
    border-radius: 50%;
    background-color: white;
}

footer p {
    margin-top: 30px;
}

form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;  
}

footer input, footer textarea {
    border: none;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: block;
    width: 100%;
}

footer .detail {
    font-weight: bold;
}

/* Modal */
.modalVisual{
    display:none;
    position:fixed;
    z-index:1;
    padding-top:100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.8);
}

.modalConteudo{
    margin:auto;
    display:block;
    width:100%;
    max-width:800px;
}

#txtImg{
    margin:auto;
    display:block;
    width:80%;
    max-width:700px;
    text-align:center;
    color:#ccc;
    padding:10px 0;
    height:150px;
}

.fechar{
    position:absolute;
    top:15px;
    right:35px;
    color:#fff;
    font-size:40px;
    font-weight:bold;
    cursor:pointer;
}